.menutren{
    background-color: #2FA1B3;
    width: 100%;
    height: 30px;
} 
.menungang{
    width: 900px;
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.menungang a{
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
    font-size:13px;
    display: block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.4s;
}
.menungang a:hover{
    background-color: rgb(24, 111, 168) ;
    padding-top:7px;
    padding-bottom: 5px;

}